{{home}}
<h1>Products</h1>
<a href="/products/add">Add Products</a>


<div class ="container" >

	<table class ="col-xs-12">
		<tr>
			<thead>
				<th><h2>Products</h2></th>
				<th><h2>Edit/ Delete</h2></th>
		</tr>
			</thead>
<tbody>

	{{#products}}

	<tr>
		<td>
			<h2>{{product_name}}</h2>

		</td>

		<td>
			<a href="/products/edit/{{id}}">Edit</a>
			<a href="/products/delete/{{id}}">Delete</a>
		</td>

	</tr>
	
	{{/products}}

</tbody>
{{body}}

	</table>
	</div>
