<!--{{home}}
<h1>Addproducts</h1>
<a href="/products/add"></a>
{{#products}}
<table>
	<tr><thead>
	<th>product_name</th>
	<th>category_name</th>
	<th>product_id</th>
</tr></thead>
<tbody>
  <h2>{{product_name}}</h2>
  <a href="/products/edit/{{id}}">Edit</a>
  <a href="/products/delete/{{id}}">Delete</a>
{{/products}}
</table>-->
<a href="/products/add">Add Products</a>
<!--<form>
	<!--<input name="addSales>"</input>
	<input type="text">product_name</input>
	<input value="">category_name</input>
	<input type="submit">

</form>-->
<head>
  <h2>{{product_name}}</h2>
  <a href="/products/products/{{id}}">Edit</a>
  <a href="/products/delete/{{id}}">Delete</a>
</head>
<table>
	<tr><thead>
	<th>product_name</th>
	<th>category_name</th>
	<th>category_id</th>
	<td>product_id</td>

</tr></thead>
<tbody>
{{#products}}
<tr>
<td>{{product_name}}</td>
<td>{{category_name}}</td>
<td>{{category_id}}</td>
<td>{{product_id}}</td>
</tr>
{{/products}}
</tbody>
</table>}
	
