<h1>Add purchases</h1>
<form action="/purchases/add" method="POST">

<select name ="product_id">

	{{#products}}
	<option value = "{{id}}">{{product_name}}</option>
	{{/products}}
	</select>
	<!--product_name: <input type="text" name="product_name" value="{{product_name}}">-->

	qty: <input type="number" name="qty" value="{{qty}}">
	cost_price: <input type="price" name="cost_price" value="R{{cost_price}}">

	stock_date: <input type="date" name="stock_date" value="{{stock_date}}">

	supplier_name: <input type="text" name="supplier_name" value="{{supplier_name}}">
	<input type="submit">
</form>

<h1>Purchases Records</h1>
<div class="container">
<table class="col-xs-12">

	<tr><thead>
	<th>product_name</th>
	<th>qty</th>
	<th>cost_price</th>
	<th>stock_date</th>
	<th>supplier name</th>

</tr></thead>
<tbody>
 {{#suppliers}}
<tr>
<td>{{product_name}}</td>
<td>{{qty}}</td>
<td>R{{cost_price}}</td>
<td>{{stock_date}}</td>
<td>{{supplier_name}}</td>

<td> 
	<a href="/purchases/edit/{{id}}">Edit</a>
     <a href="/purchases/delete/{{id}}">Delete</a>
</td>
</tr>
{{/suppliers}}
</tbody>
</table>
</div>