<doctype html>
	<html>
	<head>
		<style>
		th, td {
	    padding: 15px;
	    text-align: left;
	}
		</style>
	</head>
<form class ="navbar-form navbar-left" role ="search" action ="/sales/search" method="post">
       <div class = "form-group">
      <input type="text" class="form-control" placeholder="Search" id="search" name="searchVal">
</div>
</form>
<h1>Sales Records</h1>
<div class="container">
<table class="table table-bordered" id="sales">

	<tr><thead>
	<th>product name</th>
	<th>sales-date</th>
	<th>sales-price</th>
	<th>qty</th>
	<th>edit/delete</th>

</tr></thead>
<tbody>
 {{#sales}}
<tr>
<td>{{product_name}}</td>
<td>{{sales_date}}</td>
<td>R{{sales_price}}</td>
<td>{{qty}}</td>

<td>
	<a href="/sales/editSales/{{sale_id}}"><span class="glyphicon glyphicon-pencil"></span></a>
  <a href="/sales/delete/{{sale_id}}"><span class="glyphicon glyphicon-trash"></span></a>
</td>
</tr>
{{/sales}}
</tbody>
</table>
</div>
